@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi khusus */
@keyframes fade {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}
.animate-fade {
  animation: fade 2s ease-in-out infinite;
}
