@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom QEDev base style */
body {
  @apply font-inter text-gray-800 bg-gray-50;
}

/* Smooth scroll animation */
[data-animate] {
  will-change: transform, opacity;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

[data-animate].opacity-0 {
  transform: translateY(10px);
}
